name: build-docs

on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8.10 
      - name: Install dependencies
        run: |
          pip install myst_parser
          pip install sphinx==4.0
          pip install sphinx-togglebutton
          pip install furo==2022.9.29
      - name: Sphinx build
        run: |
          sphinx-build -b html docs/source/ docs/build/html
          touch .nojekyll
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
          force_orphan: true
